# gitignore file

# ignore all large DSA TD downloads
*.zip

# ignore all unzipped csv files
*.csv

# ignore all parquet data files
*.parquet 

# ignore text files for notes
*.txt

# ignore xlsx files for research
*.xlsx 